# FastAPI 웹서버
fastapi
uvicorn[standard]
requests

# Kafka & Config
kafka-python
pyyaml

# Triton Inference Server
tritonclient[http]

# ML/통계 처리
numpy<2
polars
scikit-learn
onnx

# PyTorch (CUDA 12.1 전용)
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.1.2+cu121
torchvision==0.16.2+cu121
torchaudio==2.1.2+cu121

# 시각화 / 편의
tqdm

# 데이터 수집 및 처리
yfinance
duckdb
